.navigation {
    background-color: $light-primary;
    padding: 2rem;

    // &-close {
    //     color: black
    // }


    &-content {
        color: gray;
        display: flex;
        // align-items: center;
        justify-content: space-between;

        &-logo {
            padding-inline: 20px;
        }

        &-menu {
            padding-inline: 20px;
            text-decoration: none;
            color: white;
            height: 100%;
            transition: 0.3s ease color;
            cursor: pointer;
            // margin-left: auto;
        }

        &-profile {
            padding-inline: 20px;
            text-decoration: none;
            color: white;
            height: 100%;
            transition: 0.3s ease color;
            cursor: pointer;
            margin-left: auto;
        }

        &-mode {
            color: pink;
        }
    }
}