.footer {
    // background-color: $light-bg;
    padding: 2rem;

    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    display: flex;
    width: 100%;

    &-column {
        color: red;
    }
}