.landing {
    
    &-card {
        position: relative;
    }

    &-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        padding: 20px 0;
        background-color: #FFA500;        
        color: white;
        border: none;        
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
        transition: transform 0.3s ease;
    }

    &-btn:hover {
        background-color: #FF8C00;  
    }
    
    &-cta {
        height: 250px;
        background: #e7e7e7;
    }
}
